<!DOCTYPE html>
<head>
    <title>Category</title>
</head>
<body>
<div>

    <h3>Category List</h3>
    <a th:href="@{/admin/addcategory}">hello</a>
    <a th:href="@{/admin/addcategory}">Add Employee</a>
    <table border="1">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" count : ${categories}">
            <td><a th:href="@{/admin/SubCategories/{id}(id=${count.getCategoryId()})}"
                   th:text="${count.getCategoryName()}"></a></td>
            <td>
                <a th:href="@{/admin/Category/Update/{id}(id=${count.getCategoryId()})}">Update</a>
                <a th:href="@{/admin/Category/delete/{id}(id=${count.getCategoryId()})}">Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>