<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Post Admin</title>
</head>
<body>
<div>
    <div th:each="postData: ${postData}">
        <div style="border: 2px aqua solid; box-shadow: 6px 6px 6px grey;margin-bottom: 20px;">
            <p style="text-indent: 3em">
                <a th:href="@{/admin/post/{postId}(postId=${postData.id})}"> <span
                        th:text="${postData.title}"></span></a>
            </p>
            <a th:text="${postData.isVerified} ? 'Un-Verify Post' : 'Verify Post'"
               th:href="@{/admin/post/verification(postId=${postData.id},isVerified=${postData.isVerified},pageNo=${currentPage})}"></a>
            <br>
            <br>
            Posted By : <b th:text="${postData.userDto.name}"></b> <br>
            Category : <b th:text="${postData.categoryDto.name}"></b>
        </div>
    </div>

    <!--<div th:if="${currentPage}">
        Page Number: [[${currentPage}]]
        <br>
        <a th:if="${currentPage > 1}" th:href="@{'/admin/all-post?pageNo=' + ${currentPage - 1}}">Previous</a>

&lt;!&ndash;        <a th:if="${currentPage <= totalPages}" th:href="@{'/admin/all-post?pageNo=' + ${currentPage + 1}}">Next</a>&ndash;&gt;


        <a th:if="${currentPage <= totalPages}" th:href="@{'/admin/all-post?pageNo=' + ${currentPage + 1}}">Next</a>


        <span th:unless="${currentPage > totalPages}">Next</span>
    </div>
-->
    <div th:if="${currentPage}">
        Page Number: [[${currentPage}]]

        <br>
        <a th:if="${currentPage > 1}" th:href="@{'/admin/all-post?pageNo=' + ${currentPage - 1}}">Previous</a>
        <a th:if="${currentPage <= totalPages}" th:href="@{'/admin/all-post?pageNo=' + ${currentPage + 1}}">Next</a>
<!--        <span th:unless="${currentPage > totalPages}">Next</span>-->

        <!--1>3-->
    </div>






    <br>
    <a th:href="@{/admin/home}">Back-></a>

</div>
</body>
</html>