<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Admin</title>
</head>
<body>
    <h1>Welcome </h1><h1 th:text="${name}"></h1>
    <div style="height: 300px;width: 300px;border: 1px solid black">
        <a th:href="@{/admin/view-role}">View Roles</a> <br>
        <a th:href="@{/admin/user/view-users}">View Users</a> <br>
        <a th:href="@{/admin/view-categories}">View Categories</a> <br>
        <a th:href="@{/user/add-post}">Add Post</a><br>
        <a th:href="@{/admin/my-post}">View MyPosts</a><br>
        <a th:href="@{/admin/all-post(pageNo=1)}">View Post</a><br>
        <a th:href="@{/admin/all-bookmarked-post}">My BookmarkedPost</a><br>

        <a th:href="@{/logout}">Log Out</a>
    </div>
</body>
</html>