<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update | Blogging</title>
</head>
<body>
<form th:action="@{/admin/user/register-user-update}" th:object="${userData}" method="post">
    <tr>
        <div>
            <td><label for="firstName">Full Name :</label></td>
            <input type="hidden" th:field="*{id}">
            <td><input type="text" id="firstName" th:field="*{name}" placeholder="Your Firstname"></td>
        </div>
    </tr>
    <tr>
        <div>
            <td><label for="email">Email address :</label>
            <td><input type="email" th:field="*{email}" placeholder="Email" id="email"></td>
        </div>
    </tr>
    <tr>
        <div>
            <td><label for="password">Password :</label></td>
            <td><input type="password" th:field="*{password}" placeholder="Password" name="password" id="password">
            </td>
        </div>
    </tr>
    <tr rowspan="2">
        <td><input type="submit" value="Register"> <input type="reset" value="Reset"></td>
    </tr>
    <p th:each="err : ${#fields.errors()}" th:text="${err}" class="error" style="color: red"><br></p>
    <p th:if="${errors}" th:text="${errors}" style="color: red"><br></p></form>
</table>
</body>
</html>