<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Posts User</title>
</head>
<body>
<div th:each="postData: ${postData}">
  <div style="border: 2px aqua solid; box-shadow: 6px 6px 6px grey;margin-bottom: 20px;">
    <p style="text-indent: 3em">
      <a th:href="@{/user/post/{postId}(postId=${postData.id})}"> <span th:text="${postData.title}"></span></a>
    </p>
    <br><br><br><br>
    Posted By : <b th:text="${postData.userDto.name}"></b>
  </div>
</div>
<!--               BookMarkSection
<div th:each="postDataByBookmar: ${postDataByBookmark}" >
&lt;!&ndash;    <a th:text="${postData.isVerified} ? 'Un-Verify Post' : 'Verify Post'" th:href="@{/admin/post/verification(postId=${postData.id},isVerified=${postData.isVerified})}"></a> <br>&ndash;&gt;

    <a th:text="${postDataByBookmar.title==}?"></a>

</div>-->

<a th:href="@{/user/home}">Back-></a>
</body>
</html>