<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User | Blogging</title>
    <style>
        table,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>



<table>
    <tr>
        <td>Roles</td>
        <td>Action</td>
    </tr>

    <tr th:each="role:${user.roles}">
        <td  th:text="${role.name}"></td>
        <td>
            <a th:text="${role.name == 'ADMIN'} ? 'Change To USER' : 'Change To ADMIN'" th:href="@{/admin/user/update-role(id=${param.id},role=${role.name})}"></a>
        </td>
    </tr>



</table>
<a th:href="@{/admin/home}">Back</a>-->
</body>
</html>