<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${postDto.title}"></title>
</head>

<div>
    <h1 th:text="${postDto.title}"></h1>
</div>

<div>
    <p th:text="${postDto.content}"></p>
</div>

<form th:object="${commentDto}" method="post" th:action="@{/user/save-comment(postId=${postDto.id},userEmail=${userEmail})}">
    Add Comment : <label>
    <textarea rows="20" cols="30" style="width: 400px; height: 110px;" th:field="*{content}"></textarea>
    <input type="submit">
</label>
</form>



</html>