<html>
<head>
    <title th:text="${postid.title}"></title>
</head>

<div>
    <h1 th:text="${postid.title}"></h1>
</div>
<p>
    <a th:text="${isBookMarked}?'remove Bookmarked':'Add Bookmark'"
   th:href="@{/user/post/change-bookmark-status(postId=${postid.id},isBookMarked=${isBookMarked}
   )}"
    ></a>
<!--
th:href="@{/admin/post/verification(postId=${postData.id},isVerified=${postData.isVerified})}"

></a> <br>-->
<!--    th:href="@{/user/post/change-bookmark-status(postId=${postData.id},-->
<!--    isBookMarked=${isBookMarked}, postDto=${postid})}"-->
</p>
<hr/>


<div>
    <p th:text="${postid.content}"></p>
</div>



</div>
<a th:href="@{/admin/all-post}">Back-></a>

</html>