<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Roles | Blogging</title>
  <style>
    table,tr,td{
      border: 1px solid black;
    }
  </style>
</head>
<body>

<table>

  <tr>
    <td><b>Name</b></td>
    <td><b>Email</b></td>
    <td colspan="2"><b>Action</b></td>
  </tr>

  <tr th:each="user: ${users}">
    <td th:text="${user.name}" />
    <td th:text="${user.email}" />
    <td><a th:href="@{/admin/user/view(id=${user.id})}"/>View</td>
  </tr>

</table>
<a th:href="@{/admin/home}">Back</a>-->
</body>
</html>