<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:each="i: ${#numbers.sequence(1, totalPages)}">
   <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>

<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
<div>test old pagination</div>
<span th:unless="${currentPage < totalPages}">Last</span>

<!-- additional section  -->
    <div th:each="postData: ${postData}">
        <div style="border: 2px aqua solid; box-shadow: 6px 6px 6px grey;margin-bottom: 20px;">
            <p style="text-indent: 3em">
                <a th:href="@{/user/post/{postId}(postId=${postData.id})}"> <span th:text="${postData.title}"></span></a>
            </p>
            <br><br><br><br>
            Posted By : <b th:text="${postData.userDto.name}"></b>
        </div>
    </div>

<!--PaGination-->

<a th:if="${currentPage > 1}" th:href="@{'/user/post-all?pageNo=' + ${currentPage - 1}}">Previous</a>

<a th:if="${currentPage < totalPages}" th:href="@{'/user/post-all?pageNo=' + ${currentPage + 1}}">Next</a>
<span th:unless="${currentPage < totalPages}">Next</span>


</body>
</html>